
header{
    background-color: #fbf6e5;
    display: grid;
    grid-template-columns: 30% 70%;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.caja_logo{
    padding: 10px;
}

.caja_logo p{
    
    display: inline;
    color: #212121;
    font-size: large;
}

.caja_logo img{
    width: 50px;
}

li{
    display: inline;
    padding: 4px;

}

.caja_menu{
     
    margin-left: auto;
    margin-top: 10px;
    padding-right: 10px;
}

a{
    text-decoration: none;
    color: #212121;
}

i{
    color: #A8CF88;  
}

.contenedor_principal{

    width: 80%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: center;
    align-content: center;
    margin: auto;
    gap: 2px;
   

}


.item:hover{

    filter: brightness(50%);
}

img{

    width: auto;
    border-radius: 5px;

}

h2{
    text-align: center;
    color: #212121;
}

footer{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #fbf6e5;
    margin-top: 10px;
}

footer i{
    margin-left: 8px;
}

.contenedor_contacto{
    width: 80%;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-content: center;
    margin: auto;
    gap: 20px;
      
}



button{
    background-color: #A8CF88;
    text-align: center;
    border: none;
    color: white;
    width: 100%;
}

input{
    width: 100%;
}

textarea{
    width: 100%;
    height: 400px;
}

h1{
    margin-left: 9%;
}